<header #header>
    <nav class="navbar">
        <div>
            <h1>ALEXIT</h1>
        </div>
        <div><input type="text" placeholder="Search..."></div>
        <div>
            <div>
                <a href="#">Favorite</a>
            </div>
            <div>
                <a href="#">Cart</a>
            </div>
            <div>
                <a href="#">Sign In</a>
            </div>
        </div>
    </nav>
    <div #afternav class="after-nav">
        <div>
            <a href="#">
                <h3>Products</h3>
            </a>
        </div>
        <div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Configurator</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#banner">Banner</a></li>
            </ul>
        </div>
    </div>
</header>