<section class="animated" id="animated">
    <div>
        <h1>BASIC INFO WITH ANIMATIONS</h1>
    </div>
    <div>
        <a (click)="navigateToSection('banner')">Banner Section</a>
        <a (click)="navigateToSection('discounts')">Discounts Section</a>
        <a (click)="navigateToSection('popular')">Popular Section</a>
        <a (click)="navigateToSection('recommendation')">Recommendation Section</a>
        <a (click)="navigateToSection('configurator-link')">Configurator Section</a>
        <a (click)="navigateToSection('latest-blogs')">Latest Blogs Section</a>
        <a (click)="navigateToSection('about')">About Us Section</a>
        <a (click)="navigateToSection('mailing-list')">Mailing List Section</a>
    </div>
</section>
<section class="banner" id="banner">
    <div></div>
    <div></div>
    <div></div>
</section>
<section class="discounts" id="discounts">
    <h1>PRODUCTS ON DISCOUNT</h1>
</section>
<section class="popular" id="popular">
    <h1>POPULAR PRODUCTS</h1>
</section>
<section class="recommendation" id="recommendation">
    <h1>OUR RECOMMENDATION</h1>
</section>
<section class="configurator-link" id="configurator-link">
    <h1>WE HAVE CONFIGURATOR</h1>
</section>
<section class="latest-blogs" id="latest-blogs">
    <h1>OUR LATEST BLOGS</h1>
</section>
<section class="about" id="about">
    <h1>ABOUT US</h1>
</section>
<section class="mailing-list" id="mailing-list">
    <h1>SIGN IN TO OUR MAILING LIST TO SEE LATEST NOTIFICATIONS ABOUT BLOGS AND DISCOUNTS</h1>
</section>