<footer>
    <div>
        <div>
            <h1>ALEXIT</h1>
            <p>With you since i dont fucking know.</p>
            <p>Some dummy text.</p>
        </div>
        <div>
            <h3>Address and Contact</h3>
            <p>Huntington Beach, California</p>
            <p>348 Springfield Ave</p>
            <p>Phone number: 0658891631</p>
            <p>Email: </p>
        </div>
        <div>
            <h3>Useful informations</h3>
            <a href="#">Payment methods</a>
            <a href="#">terms of uses</a>
            <a href="#">About delivery</a>
            <a href="#">Brands</a>
        </div>
    </div>
    <div>
        <p>AlexIT © 2024. Sva prava zadržana. - Izrada internet prodavnice - Aleksa Jotanovic(Hire me, please!).
        </p>
    </div>
    <div>
        <p>bankcardimage</p>
        <p>bankcardimage</p>
        <p>bankcardimage</p>
        <p>bankcardimage</p>
        <p>bankcardimage</p>
        <p>bankcardimage</p>
        <p>bankcardimage</p>
        <p>bankcardimage</p>
    </div>
</footer>